.snippetWrapper {
  position: relative;
  &:hover {
    .copyIcon {
      opacity: 1;
    }
  }
  .codeSnippet {
    padding: 20px !important;
    border-radius: 10px;
    background-color: white;
    font-family: Roboto mono;
    font-size: var(--p-xs);
    margin: 0 !important; // this is so that the copy icon will consistantly sit at the corner of the snippet
  }
  .copyIcon {
    padding: 6px 8px;
    border-radius: 8px;
    background-color: white;
    opacity: 0;
    font-size: 16px;
    color: #414141;
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
  }

  code {
    font-family: inherit !important;
  }

  .copyMessage {
    top: 10px;
    right: 45px;
  }
}
