$staticStorageUrl: "https://gitlab.com/watheia/pwa/-/raw/main/assets";
// or... uncached for dev:
// $staticStorageUrl: 'https://watheia.sfo3.cdn.digitaloceanspaces.com/assets';

:export {
  staticStorageUrl: $staticStorageUrl;
}
