.copiedMessage {
  position: absolute;
  right: 30px;
  top: 9px;
  display: flex;
  align-items: center;
  padding: 2px 5px;
  border-radius: 12px;
  font-size: 12px;
  color: var(--cta-button-text);
  background-color: var(--primary-label-bg);
  visibility: hidden;
  opacity: 0;
  transition: visibility 500ms, opacity 500ms ease-in-out;
}
.showMessage {
  opacity: 1;
  visibility: visible;
}
