.fatSplitter {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  font-weight: bold;
  font-size: 24px;
  user-select: none;

  /* editor-front */
  background: #2a2a2a;
  /* $editor-color */
  /* background: #1E1E1E; */
  color: #878c9a; /* $steel */
}

.columnHandle {
  display: none;
}
.rowHandle {
  display: none;
}

[data-split-layout^="column"] > .fatSplitter > .columnHandle {
  display: inline;
}

[data-split-layout^="row"] > .fatSplitter > .rowHandle {
  display: inline;
}
