.error {
  font-family: Roboto mono;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 11px;
  color: var(--error-color);
  background-color: var(--bg-base);
  transition: all 1000ms ease-in-out;
  color: var(--error-color);
  border: 1px solid var(--error-color);
  background-color: var(--bg-base);
  transition: all 1000ms ease-in-out;
  overflow: auto;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 8px;
  box-sizing: border-box;
  border-left: none;
  &.column {
    border: 1px solid var(--error-color);
    border-bottom: none;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 0;
  }
}
.editorWrapper {
  overflow: auto !important;
  max-height: 450px;
}
.codePane {
  max-width: fit-content;
  min-width: 150px;
  background-color: #282c34;
  max-width: 90%;
  &.column {
    max-width: 100%;
    height: 220px;
    .editorWrapper {
      max-width: 100%;
      height: 220px;
    }
  }
}
.editor {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-sizing: border-box;
  font-size: 11px;
  font-family: Roboto mono !important;
  min-height: 100px;
  width: fit-content;
  > textarea {
    white-space: pre !important;
    width: 100% !important;
    outline: none;
  }
  > pre {
    white-space: pre !important;
    width: fit-content !important;
  }
}
.splitter {
  background-color: #282c34;
  > div {
    border-radius: 0;
    border: none;
  }
}
.previewPane {
  position: relative;
  overflow: auto;
  min-height: 100px;
  border: 1px solid var(--border-color);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: none;
  &.column {
    border: 1px solid var(--border-color);
    border-bottom: none;
    min-height: 220px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    .editorWrapper {
      max-height: 220px;
    }
  }
}
.previewBox {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.preview {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-left: none;
}

.playground {
  display: flex;
  overflow: hidden;
  max-height: 450px;
  width: 100%;
  border-radius: 6px;

  > div {
    width: 100%;
  }
}
